  body {
    margin 0
    background #DDD
  }
  h1 {
    height 88vh
    display flex
    color #333
    align-items center
    justify-content center
    font-size 5rem
    font-family sans-serif
    text-shadow 0 0 4px black
  }
